[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
flask = "*"
flask-restful = "*"
flask-sqlalchemy = "*"
flask-env = "*"
authlib = "*"
sqlalchemy-utils = "*"
passlib = "*"

[requires]
python_version = "3"
